<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.balraj.contentproviderapp">

    <permission android:name="com.example.balraj.contentproviderapp.provider.READWRITE"/>
    <uses-permission android:name="com.example.balraj.contentproviderapp.provider.READWRITE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/add_country_title"/>
        <activity android:name=".EditActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/edit_country_title"/>
        <provider
            android:authorities="com.example.balraj.contentproviderapp.provider"
            android:name="com.example.balraj.contentproviderapp.CountryProvider"
            android:exported="true"
            android:readPermission="com.example.balraj.contentproviderapp.provider.READWRITE"
            android:writePermission="com.example.balraj.contentproviderapp.provider.READWRITE"/>
    </application>

</manifest>